.container {
    background-color: #041a3d ;
    width: 90%;
    height: 100%;
    color: silver;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    display: inline-block;
}
body {
    margin: 0;
    background-color:black;
}
.left-box {
    border: 5px solid white;
    display: inline-block;
    width: 60%;
    height: 70%;
    margin-left: 10%;
    background-color:#665c5c;
    border-radius: 15px;
}
.right-box {
    border: 5px solid white;
    display: inline-block;
    float: right;
    width: 15%;
    margin-right: 10%;
    height: 70%;
    border-radius: 15px;
}
.game-div {
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: #604e4e;
    z-index: 999;

}
.highscores {
    background-color: #665c5c;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 0px;

}
ol {
    text-align: left;
    background-color: #665c5c;

}
ol li {
    background-color: #604e4e;
    margin: 5px;   
}