<!<!DOCTYPE html>
<html>
    <head>
        <title> Riddle Me This</title>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
    </head>
    
    <body>
        
        <div class="container">
            <h1>Riddle Me This</h1>
            {% if username %}
                Welcome {{ username }}
            {% else %}
                <div style="margin-top:10%">
                    <form method="POST">
                        <label for="Username">Username</label>
                        <input type="text" name="Username"/>
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            {% endif %}
        </div>
    </body>
</html>